@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #181818;
    color: #e1e1e1;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #2a2a2a;
    padding: 1rem 3rem;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: #0505052e 8px 8px 10px 0px;
    width: 90%;
}

@media (min-width: 781px) {
    .main_wrapper {
        width: 75%;
        max-width: 800px;
    }
}

#music-controller_wrapper {
    position: absolute;
    display: flex;
    top: 0.5rem;
    right: 0.75rem;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

#music-controller_wrapper:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff2b;
}

#music-controller_list {
    display: flex;
    position: absolute;
    visibility: hidden;
    top: -135px;
    right: 0;
    flex-direction: column;
    background: #2a2a2a;
    width: auto;
    padding: 1rem;
    justify-content: center;
    border-radius: 10px;
    box-shadow: #0505052e 0px 0px 10px 5px;
}

.music-controller_list--active {
    display: flex;
}

#music-controller_list span {
    cursor: pointer;
    padding: 2px 0;
}

#music-controller_list span:hover {
    text-decoration: underline;
}

.active-alarm-song {
    font-weight: 700;
}

.main_clock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_clock-label {
    margin-bottom: -5px;
}

.main_clock-hours_display {
    font-size: 300%;
    font-weight: 600;
}

.alarm_manager-wrapper {
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

.alarm_manager-controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 620px) {
    .alarm_manager-controls {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .alarm_manager-controls--text-input {
        grid-area: 1 / 1 / 1 / 3;
    }

    .alarm_manager-controls--time-input {
        grid-area: 2 / 1 / 2 / 1;
    }

    .alarm_manager-controls--button {
        grid-area: 2 / 2 / 2 / 2;
    }
}

.alarm_manager-controls--time-input {
    background: #3a3a3a;
    width: auto;
    max-width: 12rem;
    min-width: fit-content;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    box-shadow: inset #00000024 0 0 6px 0px;
}

.alarm_manager-controls--time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
  
.alarm_manager-controls--time-input::-webkit-inner-spin-button {
    display: none;
}

.alarm_manager-controls--time-input::-webkit-clear-button {
    display: none;
}

.alarm_manager-controls--text-input {
    background: #3a3a3a;
    width: 100%;
    border: none;
    padding: 10px 8px 6px 8px;
    color: white;
    border-radius: 5px;
    box-shadow: inset #00000024 0 0 6px 0px;
}

.alarm_manager-controls--text-input::placeholder {
    color: rgb(173, 173, 173);
}

.alarm_manager-controls--button {
    border: none;
    padding: 8px;
    margin-left: auto;
    background: #96ff60;
    color: #033800;
    border-radius: 5px;
    cursor: pointer;
    font-size: 75%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.alarm_manager-controls--button i {
    margin-right: 4px;
    font-size: 125%;
}

.alarm_manager-controls--button:hover {
    background: #86ea50;
}

.alarm_manager-controls--button:active {
    background: #96ff60;
}

.alarm-list__wrapper {
    display: none;
    margin-top: 1rem;
}

.alarm_list {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.alarm_item {
    padding: 10px 15px;
    background: #f7f7f70d;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.alarm_item:hover {
    color: white;
}

.alarm_item-delete_btn {
    color: #a5a5a5;
    margin-left: auto;
    cursor: pointer;
    font-size: 95%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    gap: 3px;
}
.alarm_item-delete_btn:hover {
    color: #ff4d4d;
}

.modal_bg {
    position: absolute;
    background: #000000c4;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    z-index: 999;
    justify-content: center;
}

.modal_body {
    background: #464646;
    padding: 1rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal_btn {
    margin: 1.5rem 0px 0.5rem 0px;
    background: #ffa93b;
    color: #442701;
    border: none;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.modal_btn:hover {
    background: #dd8e27;
}